@media screen and (max-width: 768px){
    .navbar-nav:nth-child(1){
        position: absolute;
        top: -32px;
        left: 600px;
    }
    .nav-item{
        position: absolute;
        top: 0;
        left: -600px;
    }
    .nav-item:nth-child(2) > a{
        margin-left: 82px;
    }
    *{
        font-size: 32px;
    }
    .nav-link{
        margin-left: 50px;
    }
}