<!doctype html>
<html lang="ru">
<head>
    {% block title %}<title>DesignPro</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/media.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a href="{% url 'index' %}" style="text-decoration: none; color: black;position: absolute;top: 16px;left: 32px;" class="navbar-brand">DesignPro</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        {% block sidebar %}
            <ul class="navbar-nav mr-auto" style="list-style-type:none">
                <li class="nav-item">
                    <a href="{% url 'index' %}" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 200px;" class="nav-link">Главная</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'createapl' %}" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 300px;" class="nav-link">Создать заявку</a>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'aplication_admin_render' %}" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 500px;" class="nav-link">Принятие заявок</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'aplication_admin_done' %}" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 700px;" class="nav-link">Выпольнить заявки</a>
                    </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav" style="list-style-type: none">
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 1050px;" class="nav-link">Профиль: {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 1200px;" class="nav-link" id="nav-link">Выйти</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav" style="list-style-type: none">
                    <li class="nav-item">
                        <a class="nav-link" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 1100px;" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="list-style-type:none; text-decoration: none; color: black;position: absolute;top: 18px;left: 1200px;" href="{% url 'login' %}">Вход</a>
                    </li>
                </ul>
            {% endif %}
        {% endblock %}
    </div>
</nav>
<main role="main" class="container">
    <div class="starter-template">
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="mt-3 border-top text-center">
    <small class="p-2"> &copy; Все права защищены </small>
</footer>
</body>
</html>