{% extends 'basic.html' %}

{% load static %}
{% load bootstrap4 %}
{% block content %}
<h4 class="mr-lg-5">Здравствуйте, {{ user.username }}</h4>
<div class="h5 mr-lg-4 p-3 mb-2 border text-center">Ваши заявки</div>
<div style="margin-top: 16px; margin-bottom: 16px" class="d-flex justify-content-start mr-lg-4 mb-2 text-secondary">
    <a class="btn  text-secondary border m-3" style="list-style-type:none; text-decoration: none; color: black;"
       href="{% url 'profile' %}">Все</a>
    <a class="btn  text-secondary border m-3"
       style="list-style-type:none; text-decoration: none; color: black; margin-left: 20px;"
       href="{% url 'filter' status='new' %}">Новые</a>
    <a class="btn  text-secondary border m-3"
       style="list-style-type:none; text-decoration: none; color: black; margin-left: 20px;"
       href="{% url 'filter' status='done' %}">Выполненые</a>
    <a class="btn  text-secondary border m-3"
       style="list-style-type:none; text-decoration: none; color: black; margin-left: 20px;"
       href="{% url 'filter' status='received' %} "
    >Принятые</a>
</div>
{% if apl_items %}
{% for item in apl_items %}
<div style="margin-bottom: 32px"
     class="table justify-content-between row p-3 text-dark bg-light border-top border-bottom">

    <img class="col-4" src="{{ item.photo.url }}" alt="Фото заявки">
    <p class="p-3 mb-2 mr-auto"><b>Наименование:</b> {{ item.name }} <br>
        <b>Категория:</b> {{ item.Category }}
        <br> <b>Дата добавления:</b> {{ item.date }} <br> <b>Описание:</b> {{ item.description }}
        <br><b>Статус: </b>{{ item.status_verbose }}</p>
    {% if item.status == 'new' %}
    <a id="sad" class="btn ml-auto mt-auto h-100 p-1" href="/delete/{{ item.pk }}">
        <button type="button" id="buttone" onclick="Yes()" class="btn btn-outline-danger mt-auto  ml-auto h-25">
            Удалить
        </button>
    </a>
    {% endif %}

</div>
{% endfor %}
{% else %}
<p class="">Вы еще не создали ни одну заявку</p>
{% endif %}
<script>
    function Yes() {
        sad = document.getElementById('sad');
        result = confirm('Точно удалить?');
        if (result == false) {
            sad.href="/profile";
        }else{
            return;
        }
    }
</script>
{% endblock %}